<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiazhielec.order.mapper.DeliveryOrderMapper">

	<resultMap type="DeliveryOrder" id="DeliveryOrderResult">
		<id     property="id"     column="id"     />
		<result property="VBELN"   column="VBELN"   />
		<result property="WERKS"  column="WERKS"   />
		<result property="KUNNR"   column="KUNNR"   />
		<result property="NAME1"   column="NAME1"   />
		<result property="createTime"     column="CREATE_TIME"      />
		<result property="deliveryDate"      column="DELIVERY_DATE"       />
	</resultMap>

	<resultMap id="DeliveryOrderWithDetailResult" type="DeliveryOrder" extends="DeliveryOrderResult">
		<id     property="id"     column="id"     />
		<result property="VBELN"   column="VBELN"   />
		<result property="WERKS"  column="WERKS"   />
		<result property="KUNNR"   column="KUNNR"   />
		<result property="NAME1"   column="NAME1"   />
		<result property="createTime"     column="CREATE_TIME"      />
		<result property="deliveryDate"      column="DELIVERY_DATE"       />
		<collection property="deliveryOrderDetailList" notNullColumn="id2" javaType="java.util.List" resultMap="DeliveryOrderDetailResult2" />
	</resultMap>

	<resultMap type="DeliveryOrderDetail" id="DeliveryOrderDetailResult2">
		<result property="id"    column="id2"    />
		<result property="subVBELN"    column="VBELN2"    />
		<result property="POSNR"    column="POSNR"    />
		<result property="MATNR"    column="MATNR"    />
		<result property="KDMAT"    column="KDMAT"    />
		<result property="POSTX"    column="POSTX"    />
		<result property="CHARG"    column="CHARG"    />
		<result property="LFIMG"    column="LFIMG"    />
		<result property="MEINS"    column="MEINS"    />
		<result property="LGOBE"    column="LGOBE"    />
		<result property="BSTKD"    column="BSTKD"    />
		<result property="WJSL"    column="WJSL"    />
	</resultMap>

	<resultMap type="DeliveryOrderDetail" id="DeliveryOrderDetailResult">
		<result property="id"    column="id"    />
		<result property="subVBELN"    column="VBELN"    />
		<result property="POSNR"    column="POSNR"    />
		<result property="MATNR"    column="MATNR"    />
		<result property="KDMAT"    column="KDMAT"    />
		<result property="POSTX"    column="POSTX"    />
		<result property="CHARG"    column="CHARG"    />
		<result property="LFIMG"    column="LFIMG"    />
		<result property="MEINS"    column="MEINS"    />
		<result property="LGOBE"    column="LGOBE"    />
		<result property="BSTKD"    column="BSTKD"    />
		<result property="WJSL"    column="WJSL"    />
	</resultMap>

	
<!--	<sql id="selectDeliveryOrderVo">-->
<!--        select d.id, d.VBELN, d.WERKS, d.KUNNR, d.NAME1, d.CREATE_TIME, d.DELIVERY_DATE-->
<!--        from A8X_SAP_JZ_LIKP d-->
<!--    </sql>-->

	<select id="selectDeliveryOrderList" parameterType="DeliveryOrder" resultMap="DeliveryOrderResult">
		select a.*
		from A8X_SAP_JZ_LIKP a
		<where>
			<if test="VBELN != null  and VBELN != ''"> AND VBELN like concat('%', #{VBELN}, '%')</if>

			<if test="NAME1 != null  and NAME1 != ''"> AND NAME1 like concat('%', #{NAME1}, '%')</if>
<!--			<if test="status != null  and status != ''"> and a.status = #{status}</if>-->
<!--			<if test="status != null  and status != ''"> and a.status = #{status}</if>-->
			<if test="params.customerCodes != null ">
				and a.KUNNR in
				<foreach collection="params.customerCodes" item="customerCode" open="(" separator="," close=")">
					#{customerCode,jdbcType=VARCHAR}
				</foreach>
			</if>
		</where>
		order by a.create_time desc
	</select>

	<select id="selectDeliveryOrderDetailList" parameterType="DeliveryOrderDetail" resultMap="DeliveryOrderDetailResult">
		select a.*
		from A8X_SAP_JZ_ORDERDETAIL a
		<where>
			<if test="subVBELN != null  and subVBELN != ''"> and a.VBELN = #{subVBELN}</if>
			<if test="KDMAT != null  and KDMAT != ''"> and a.KDMAT = #{KDMAT}</if>
			<if test="MATNR != null  and MATNR != ''"> and a.MATNR = #{MATNR}</if>
		</where>
	</select>

	<select id="selectDeliveryOrderDetailListWithCollation" parameterType="DeliveryOrderDetail" resultMap="DeliveryOrderDetailResult">
		select a.*
		from A8X_SAP_JZ_ORDERDETAIL a
		<where>
			<if test="subVBELN != null  and subVBELN != ''"> and a.VBELN = #{subVBELN}</if>
			<if test="KDMAT != null  and KDMAT != ''"> and a.KDMAT = #{KDMAT}</if>
			<if test="MATNR != null  and MATNR != ''"> and a.MATNR = #{MATNR}</if>
		</where>
	</select>

	<select id="selectDeliveryOrderListWithDetail" resultMap="DeliveryOrderWithDetailResult">
		select a.*,detail.id as id2,detail.VBELN as VBELN2,detail.POSNR as POSNR,detail.MATNR as MATNR,detail.KDMAT as KDMAT,detail.POSTX as POSTX,detail.CHARG as CHARG,detail.LFIMG as LFIMG,detail.MEINS as MEINS,detail.LGOBE as LGOBE,detail.BSTKD as BSTKD,detail.WJSL as WJSL
		from A8X_SAP_JZ_LIKP a
		left join A8X_SAP_JZ_ORDERDETAIL detail on a.VBELN = detail.VBELN
		where a.vbeln in
		<foreach collection="vbelns" item="vbeln" open="(" separator="," close=")">
			#{vbeln,jdbcType=VARCHAR}
		</foreach>
		${dataCollation}

	</select>

</mapper> 