<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiazhielec.order.mapper.PrintDataDetailMapper">
    <resultMap type="PrintDataDetail" id="PrintDataDetailResult">
        <id     property="id"     column="id"     />
        <result property="bstkd"   column="BSTKD"   />
        <result property="posnr"  column="POSNR"   />
        <result property="subVBELN"   column="VBELN"   />
        <result property="kdmat"   column="KDMAT"   />
        <result property="lfimg"     column="LFIMG"      />
        <result property="meins"      column="MEINS"       />
        <result property="matnr"   column="MATNR"   />
        <result property="postx"  column="POSTX"   />
        <result property="charg"   column="CHARG"   />
        <result property="lgobe"   column="LGOBE"   />
        <result property="wjsl"     column="WJSL"      />
        <result property="name"      column="NAME"       />
        <result property="printNumber"   column="PRINTNUMBER"   />
        <result property="item"  column="ITEM"   />
        <result property="cartons"   column="CARTONS"   />
        <result property="effectiveDate"   column="EFFECTIVEDATE"   />
    </resultMap>

    <insert id="insertIntoDataBase" parameterType="PrintData" useGeneratedKeys="true" keyProperty="id">
        insert into A8X_SAP_JZ_PRINT_ORDERDETAIL(
        <if test="id != null and id != 0">id,</if>
        <if test="bstkd != null and bstkd != ''">BSTKD,</if>
        <if test="posnr != null and posnr != ''">POSNR,</if>
        <if test="subVBELN != null and subVBELN != ''">VBELN,</if>
        <if test="kdmat != null and kdmat != ''">KDMAT,</if>
        <if test="lfimg != null and lfimg != ''">LFIMG,</if>
        <if test="meins != null and meins != ''">MEINS,</if>
        <if test="matnr != null and matnr != ''">MATNR,</if>
        <if test="postx != null and postx != ''">POSTX,</if>
        <if test="charg != null and charg != ''">CHARG,</if>
        <if test="lgobe != null and lgobe != ''">LGOBE,</if>
        <if test="wjsl != null and wjsl != ''">WJSL,</if>
        <if test="name != null and name != ''">NAME,</if>
        <if test="printNumber != null and printNumber != ''">PRINTNUMBER,</if>
        <if test="item != null and item != ''">ITEM,</if>
        <if test="cartons != null and cartons != ''">CARTONS,</if>
        <if test="effectiveDate != null and effectiveDate != ''">EFFECTIVEDATE,</if>
        )values(
        <if test="id != null and id != 0">#{id},</if>
        <if test="bstkd != null and bstkd != ''">#{BSTKD},</if>
        <if test="posnr != null and posnr != ''">#{POSNR},</if>
        <if test="subVBELN != null and subVBELN != ''">#{VBELN},</if>
        <if test="kdmat != null and kdmat != ''">#{KDMAT},</if>
        <if test="lfimg != null and lfimg != ''">#{LFIMG},</if>
        <if test="meins != null and meins != ''">#{MEINS},</if>
        <if test="matnr != null and matnr != ''">#{MATNR},</if>
        <if test="postx != null and postx != ''">#{POSTX},</if>
        <if test="charg != null and charg != ''">#{CHARG},</if>
        <if test="lgobe != null and lgobe != ''">#{LGOBE},</if>
        <if test="wjsl != null and wjsl != ''">#{WJSL},</if>
        <if test="name != null and name != ''">#{NAME},</if>
        <if test="printNumber != null and printNumber != ''">#{PRINTNUMBER},</if>
        <if test="item != null and item != ''">#{ITEM},</if>
        <if test="cartons != null and cartons != ''">#{CARTONS},</if>
        <if test="effectiveDate != null and effectiveDate != ''">#{EFFECTIVEDATE},</if>
        )
    </insert>
</mapper>