<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiazhielec.order.mapper.PrintDataMapper">
    <resultMap type="PrintData" id="PrintDataResult">
        <id     property="id"        column="id"       />
        <result property="vbeln"      column="VBELN"     />
        <result property="werks"      column="WERKS"     />
        <result property="kunnr"        column="KUNNR"       />
        <result property="name1"        column="NAME1"        />
        <result property="deliveryDate"      column="DELIVERYDATE"     />
        <result property="printDate"    column="PRINTDATE"   />
        <result property="template"      column="TEMPLATE"     />
        <result property="printNumber"    column="PRINTNUMBER"   />
    </resultMap>

    <resultMap type="FindPrintLikp" id="FindPrintLikpResult">
        <id     property="start"        column="start"       />
        <result property="end"      column="end"     />
        <result property="delDateStart"      column="delDateStart"     />
        <result property="delDateEnd"        column="delDateEnd"       />
        <result property="printNo"        column="printNo"       />
        <result property="vbeln"        column="vbeln"        />
        <result property="kdmat"      column="kdmat"     />
        <result property="matnr"    column="matnr"   />
        <result property="bstkd"      column="bstkd"     />
    </resultMap>

    <insert id="insertIntoDataBase" parameterType="PrintData" useGeneratedKeys="true" keyProperty="id">
        insert into A8X_SAP_JZ_PRINT_LIKP
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0">id,</if>
            <if test="vbeln != null and vbeln != ''">VBELN,</if>
            <if test="werks != null and werks != ''">WERKS,</if>
            <if test="kunnr != null and kunnr != ''">KUNNR,</if>
            <if test="name1 != null and name1 != ''">NAME1,</if>
            <if test="deliveryDate != null">DELIVERYDATE,</if>
            <if test="printDate != null ">PRINTDATE,</if>
            <if test="template != null and template != ''">TEMPLATE,</if>
            <if test="printNumber != null and printNumber != ''">PRINTNUMBER,</if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0">#{id},</if>
            <if test="vbeln != null and vbeln != ''">#{vbeln},</if>
            <if test="werks != null and werks != ''">#{werks},</if>
            <if test="kunnr != null and kunnr != ''">#{kunnr},</if>
            <if test="name1 != null and name1 != ''">#{name1},</if>
            <if test="deliveryDate != null ">#{deliveryDate},</if>
            <if test="printDate != null ">#{printDate},</if>
            <if test="template != null and template != ''">#{template},</if>
            <if test="printNumber != null and printNumber != ''">#{printNumber},</if>
            </trim>
    </insert>

    <select id="selectPrintDataList" parameterType="FindPrintLikp" resultMap="PrintDataResult">
        select a.id ,a.DELIVERYDATE,a.KUNNR,a.NAME1,a.PRINTDATE,a.PRINTNUMBER,a.TEMPLATE,a.VBELN,a.WERKS
        from A8X_SAP_JZ_PRINT_LIKP a left join A8X_SAP_JZ_PRINT_ORDERDETAIL b on a.PRINTNUMBER = b.PRINTNUMBER
        <where>
            <if test="start != null  "> AND DATEADD(dd,DATEDIFF(dd,0,a.PRINTDATE),0) >= #{start}</if>

            <if test="end != null  "> AND DATEADD(dd,DATEDIFF(dd,0,a.PRINTDATE),0) &lt;= #{end}</if>

            <if test="delDateStart != null  "> AND DATEADD(dd,DATEDIFF(dd,0,a.DELIVERYDATE),0) >= #{delDateStart}</if>

            <if test="delDateEnd != null  "> AND DATEADD(dd,DATEDIFF(dd,0,a.DELIVERYDATE),0)  &lt;= #{delDateEnd}</if>

            <if test="printNo != null  and printNo != ''"> AND a.PRINTNUMBER like '%${printNo}%'</if>

            <if test="vbeln != null  and vbeln != ''"> AND a.VBELN like '%${vbeln}%'</if>

            <if test="kdmat != null  and kdmat != ''"> AND b.KDMAT like '%${kdmat}%'</if>

            <if test="matnr != null  and matnr != ''"> AND b.MATNR  like '%${matnr}%'</if>

            <if test="bstkd != null  and bstkd != ''"> AND b.BSTKD like '%${bstkd}%'</if>
        </where>
        GROUP BY a.id ,a.DELIVERYDATE,a.KUNNR,a.NAME1,a.PRINTDATE,a.PRINTNUMBER,a.TEMPLATE,a.VBELN,a.WERKS
    </select>


    <select id="selectPrintDataListByPrintData" parameterType="PrintData" resultMap="PrintDataResult">
        select a.id ,a.DELIVERYDATE,a.KUNNR,a.NAME1,a.PRINTDATE,a.PRINTNUMBER,a.TEMPLATE,a.VBELN,a.WERKS
        from A8X_SAP_JZ_PRINT_LIKP a
        <where>

            <if test="printNumber != null  and printNumber != ''"> AND a.PRINTNUMBER = #{printNumber}</if>
        </where>
    </select>

</mapper>